@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", ui-serif, Georgia, serif;
  
  --color-primary: #066B5E;
  --color-primary-dark: #044F45;
  --color-secondary: #8CA633;
  --color-secondary-dark: #6C8127;
  --color-warm-bg: #FDFCF7;
}

@layer base {
  body {
    @apply bg-warm-bg text-slate-900 antialiased;
  }
}
